{% extends 'menu/nav.html' %}
{% block body %}
    <div class="container">
        <h1>Hello</h1>
        <p>
            EasyStega is a project done as a part of internet and web programming course offered at VIT University Chennai campus.
        </p>
        <h2>Developers</h2>
        <ul>
            <li>Lakshmi Sairam Kakarla</li>
            <li>K.V.Sai Ragavendhra</li>
            <li>Dasari Anirudh</li>
        </ul>
        <h3>Frame works and Languages used</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Django</li>
        </ul>
        <h4>Git repository</h4>
        <a href="" target="_blank">Click for the code</a>


    </div>
{% endblock %}
